<web-app  xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
          version="3.0" metadata-complete="false">

<display-name>webtest</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/login.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>UserIndex</servlet-name>
    <jsp-file>/WEB-INF/userindex.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIndex</servlet-name>
    <url-pattern>/User/Index</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <jsp-file>/WEB-INF/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/User/Login</url-pattern>
  </servlet-mapping>


  <!--<servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>
      com.hjy.servlet.StudentLoginServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/User/Login</url-pattern>
  </servlet-mapping>-->
<!--
  <servlet>
    <servlet-name>loadstu</servlet-name>
    <servlet-class>
      com.hjy.servlet.LoadStudentServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadstu</servlet-name>
    <url-pattern>/ajax.do</url-pattern>
  </servlet-mapping>
  -->

</web-app>
